@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  min-height: 100vh;
}

#navbar {
  background-color: #333;
  position: absolute;
  top: 0;
  width: 100%;
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
  opacity: 0.7;
}

#navbar a[id='title']
{
  float: left;
  padding-left: 20px;
  cursor: pointer;
  opacity: 1;
}

#navbar a[id='option']:hover
{
  background-color: red;
  transition: 0.5s ease-out;
  opacity: 1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}

body
{
  background: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.titleText
{
  position: absolute;
  top: 80px;
  font-weight: 800;
  font-size: 2.5em;
  text-transform: uppercase;
  color: #fff;
}
.formulas
{
  display: none;
  position: relative;
  text-align: left;
  background: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  min-height: 50vh;
  margin: 30px;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.formulas:hover
{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.formulas span
{
  padding-left: 30px;
  opacity: 0.2;
}

.formulas:hover span
{
  opacity: 1;
}

.formulas h2
{
  text-align: center;
  padding-top: 20px;
  font-weight: 700;
  font-size: 30px;
  opacity: 0.5;
  text-transform: uppercase;
}

.formulas:hover h2
{
  opacity: 1;
  transition: 0.5s;
  letter-spacing: 1px;
}

.nextBtn,
.prevBtn
{
  display: none;
}

.nextBtn.active
{
  display: inline-block;
  cursor: pointer;
}

.prevBtn.active
{
  display: inline-block;
  cursor: pointer;
}

.formulas.active
{
  display: inline-block;
}

.formulas.sides span
{
  margin-bottom: 20px;
  position: absolute;
}